@import "partials/settings";
@import "partials/foundation";


$teal-color: #88C2C0;
$white-color: #FFFFFF;
$black-color: #262626;
$gray-color: #535353;  

body {
  background-color: $teal-color;
}  

header{
  background-color: $black-color;

  @media #{$medium-up}{
    background-color: $teal-color;
    background-image: url(../images/header_bg.png);
    padding: 20px;

  }  
} 

.hero{
  padding-bottom: 20px; 
}

nav.top-bar{

  ul{
    background-color: $black-color;
  }

  h1{
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: 50px 50px;
  }
}

.top-bar-section .right a{
  background-color: $black-color;
  color: $teal-color;
  border-top: 1px solid $teal-color;
  border-bottom: 1px solid $teal-color;

}


h1.mobile_logo{

  a {
    color: $teal-color;
    font-weight: 200;
    margin-left: 40px;
  }

  span{
    font-weight: 600;
    color: $teal-color;
  }
}

.desktop_logo{ 
  text-align: center;

  a{
    color: $black-color;
    font-size: 18px;

  }

  span{
    font-weight: 700;
    color: $black-color;
  }
}
 

.toggle-topbar{
  background-image: url(../images/menu_icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 25px;
  height: 25px;
  margin-top: 10px;
}


.hero_wrapper{
  background-image: url(../images/ship.png);
  background-repeat: no-repeat;
  background-size: 250px 250px;
  background-position: 50% -10%;
}

.hero_text{

  span{
    font-weight: bold;
  }

  p{
    margin-top: 183px;
    padding: 5px;
    font-weight: 300;
    font-size: 18px;
  }
}
    
.hero_action{
  text-align: center;
  padding: 15px;
  background-color: $gray-color;
  border-bottom: 5px solid $black-color;
  margin-bottom: 20px;
  transition-property: background-color;
  transition-duration: 1s;
  transition-delay: .5s;

  a{
    color: $white-color; 
  }
}

.hero_action:hover{
  background-color: $black-color;

}

.hero_button{
  color: $white-color;
}


.highlights{
   background-color: $white-color;
   padding-top: 20px; 
   padding-bottom: 40px;

   h2,h3{
   color: $white-color;
 }
}

.highlight{
  background-color: $gray-color;
  text-align: center;
  border-radius: 5px;
  margin-top: 10px;
  color: $white-color;


  h2{
    margin-bottom: 0;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    margin-top: 20px;
    border-bottom: 1px solid #434343;
  }

  h3{
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: 300;
    display: inline;
    border-bottom: 5px solid $white-color;
    
  }
  
  p{
    margin-top: 15px;
    margin-bottom: 0;
    padding: 25px;
    font-size: 16px;
    font-weight: 100;
  }
}

.to_the_moon{
  transition-property: background-color;
  transition-duration: 1s;
  transition-delay: .5s;
}

.to_the_moon:hover{
  background-color: $black-color;
}

.overline{
  border-top: 1px solid #636363;
}  
 
.more_deals_container {
  background-color: $teal-color;
  text-align: center;
  padding: 15px;
  background-image: url(../images/arrow.png);
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: 70%;
  margin-top: 5px;

  .more_deals_mobile{
    color: $white-color;
    font-size: 18px;
    font-weight: 800;
  }
}

footer {
  background-color: $black-color;
  color: $gray-color;
  text-align: center;
  padding: 10px;

  p{
    font-size: 12px;
    padding: 15px;
  }
}




