@import "partials/settings";
@import "partials/foundation";

$teal-color: #88C2C0;
$white-color: #FFFFFF;
$black-color: #262626;
$gray-color: #535353;  

.columns{
  @media #{$small-only}{
    padding-left: 3.4rem;
    padding-right: 3.4rem;
  }

  @media #{$medium-only}{
    padding-left: 3.4rem;
    padding-right: 3.4rem;
  }
}

body {
  background-color: $teal-color;

  @media #{$medium-up}{
   background-color: $white-color;
  }
}  

header{
  background-color: $black-color;

  @media #{$small-only}{
    margin-top: 5px;
  }

  @media #{$medium-up}{
    background-color: $teal-color;
    background-image: url(../images/header_bg.png);
    height: 150px;
  }  
} 

a{
  color: $teal-color;
}

.hero{
  padding-bottom: 20px; 
}

.desktop-nav{
  padding: 0px;
 
  ul{
    list-style-type: none;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    word-spacing: 30px;
    border: 1px solid $black-color;
    padding: 10px;
    border-radius: 5px;
    background-color: $black-color;
    margin: auto;
  }

  a span{
    word-spacing: 0;
  }  

  li{
    display: inline;
  }

  a:hover{
    color: $white-color; 
  }

    @media #{$small-only}{
      display: none;
    }
}

nav.top-bar{

  ul{
    background-color: $black-color;
  }

  .name{
    
    h1{
      background-image: url(../images/logo.svg);
      background-repeat: no-repeat;
      background-size: 50px 50px;

      a{
        color: $teal-color;
        font-weight: 300;
        margin-left: 40px;

        span{
          font-weight: 600;
          color: $teal-color;
        }
      }
    }
  } 
  
  @media #{$medium-up}{
    display: none;
  }
}
.top_logo{
  @media #{$medium-up}{
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-position: 50% -5%;
  }
}

.desktop_logo{
  h1{
    margin-top: 20px;
  }
}

.desktop_logo{ 
  text-align: center;
  margin-top: 50px;

  a{
    color: $black-color;
    font-size: 18px;
  }

  span{
    font-weight: 700;
    color: $black-color;
  }
}
 
 .toggle-topbar{
  background-image: url(../images/menu_icon.png);
  background-repeat: no-repeat;
  background-size: 24px;
  width: 25px;
  height: 25px;
  margin-top: 10px;
} 

.top-bar-section .right li a{
  color: $teal-color;
  border-top: 1px solid $teal-color;  

  @media #{$medium-up}{
      display: none;
  }  
}

.hero_wrapper {

  background-color: $teal-color;

  @media #{$small-only}{
    background-image: url(../images/ship.png);
    background-repeat: no-repeat;
    background-size: 250px 250px;
    background-position: 50% -10%;
  }

  @media #{$medium-only}{
    margin-top: 50px;
    border-radius: 5px;
  }

  @media #{$large-up}{
    margin-top: 50px;
    border-radius: 5px;
  }
 }   

.hero_text{
  
  span {
    font-weight: bold;
  }

  p{
   @media #{$small-only} {
    margin-top: 183px;
  }
    padding: 5px;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
  }
}

.hero_text{

  p{
   @media #{$large-up}{
    float: left;
    width: 60%;
    text-align: left;
    font-size: 25px;
    padding: 37px;
   } 
  }
}

.fom{
  @media #{$large-up}{
    float: right;
    width: 40%;
  }
}    

.ship{
  @media #{$medium-only}{
    background-image: url(../images/ship.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 203px;
    width: 277px;
    margin: auto;
    margin-top: -63px;
  }
}    

.lgship{
  @media #{$large-up}{
    background-image: url(../images/ship.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 203px;
    width: 277px;
    margin-top: -67px;
    margin-left: 66px;
  }
}

.hero_action{
  text-align: center;
  padding: 15px;
  background-color: $gray-color;
  border-bottom: 5px solid $black-color;
  margin-bottom: 20px;
  transition-property: background-color;
  transition-duration: 1s;
  transition-delay: .5s;

  a{
    color: $white-color; 
  }

  @media #{$medium-up}{
    width: 240px;
    margin: auto;
    margin-bottom: 30px;
  }

  @media #{$large-up}{
    margin-top: 30px;
  }
}

.hero_action:hover{
  background-color: $black-color;
}

.hero_button{
  color: $white-color;
}

.highlights{
   background-color: $white-color;
   padding-top: 20px; 
   padding-bottom: 40px;

   h2,h3{
   color: $white-color;
 }
}

.highlight{
  background-color: $gray-color;
  text-align: center;
  border-radius: 5px;
  margin-top: 10px;
  color: $white-color;
}

.cost{
    @media #{$medium-only}{
      float: left;
      width: 50%;
      padding: 20px;
      border-right: 1px solid #636363;
    }

  h2{
     @media #{$medium-only}{
      text-align: left;
    }
  }
}  
  // .desc {
  //   @media #{$medium-only}{
  //     margin-left: -55px;
  //     margin-top: -30px;
  //  } 
      
  //     h2{
  //       /* text-align: left; */
  //     }

  //     p{
  //       /* text-align: left;
  //       margin-left: 70px; */
  //     }

// } 

  .highlight_description{
    @media #{$medium-only}{
      float: right;
      width: 50%;
      text-align: left;
 
      p{
        text-align: left;
        padding: 0 20px 20px 20px;
        margin: auto;
        line-height: 1.2;
      }
      h2{
        text-align: left; 
        
      }
    } 
  } 

  h2{
    margin-bottom: 0;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    margin-top: 20px;
    border-bottom: 1px solid #434343;
  
    @media #{$medium-only}{
      border: none;
   }
}     
   
  h3{
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: 300;
    display: inline;
    border-bottom: 5px solid $white-color;
  }
  
  p{
    margin-top: 15px;
    margin-bottom: 0;
    padding: 25px;
    font-size: 16px;
    font-weight: 100; 
  }

        
.to_the_moon{
  transition-property: background-color;
  transition-duration: 1s;
  transition-delay: .5s;
}

.to_the_moon:hover{
  background-color: $black-color;
}


.overline{
  border-top: 1px solid #636363;

  @media #{$medium-only}{
    border-top: none;
  }
}  

.just_around_earth{
  @media #{$small-only}{
  margin-top: 50px;
  } 

  @media #{$medium-only}{
    margin-top: 50px;
  } 
}

.just_to_jupiter{
    height: 110px;
    padding: 25px;
    border-bottom: 1px solid #636363;
  }
 
  h4{
  color: $white-color;
  font-size: 14px;
  }

  h5{
    color: $white-color;
    font-size: 38px;
    font-weight: 100;
    line-height: 20px;
  }
  
.center_of_the_earth{
  height: 110px;
  padding: 25px;
  border-bottom: 1px solid #636363;

  h4{
    color: $white-color;
    font-size: 14px;
  }
  h5{
    color: $white-color;
    font-size: 38px;
    font-weight: 100;
    line-height: 20px;
  }  
}

.dealie{
  background-color: $teal-color;
  text-align: center;
  padding: 20px; 
  
/*   background-size: 40px; */

  a{
    color: $white-color;
    font-size: 24px;
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    padding: 5px 60px;
    background-position: right 50%;
  }
} 
.more_dets{
  @media #{$large-up}{
  padding: 13px;
  background-image: url(../images/arrow.png);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 81%;
  transition-property: background-color;
  transition-duration: 1s;
  transition-delay: .5s; 
  padding-top: 16px;
  padding-bottom: 16px;
  }
}

.more_dets:hover{
  background-color: $black-color;
} 

.more_deals_desktop{
    color: $white-color;
    font-size: 22px;
    font-weight: 300;
}  

footer {
  background-color: $black-color;
  color: $gray-color;
  text-align: center;
  padding: 10px;

  p{
    font-size: 12px;
    padding: 15px;
  }
 } 



